*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #c1defa3b;
    font-size: 14px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    background-color: #c1defa3b ;
    width: 100%;
    margin-top: 50px;

}
.card{
    background-color: #c1defa3b;

}
.card-top-left{
    
    /* background-color: #8219d8ce; */
    background-color: #700ec0cc;
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    height: 300px;
    
    border-radius: 10px;
    
    
}
.card-top-right{
    background-color: #221f3bbe;
    color: white;
    height: 300px;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.card-bottom-left{
    background-color: #fff;
    color: black;
    border-radius: 10px;
    height: 300px;
    margin-top: 30px;
    
    padding: 20px;
    padding-bottom: 30px;
}
.card-bottom-right{
    background-color: #221f3b;
    color: white;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
}
.card-top-extreme-right{
    background-color: #fff;
    color: black;
    height: 625px;
    border-radius: 10px;
    padding: 20px;
}

img{
    float: left;
    border-radius: 50px;
    margin-right: 20px;
}
.heading{
    font-weight: 600;
    font-size: 20px;
}
.position{
    opacity: 50%;
}



