*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #bedcfa;
    font-size: 14px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    background-color: #bedcfa ;
    width: 100%;
    margin-top: 50px;

}
.card{
    background-color: #bedcfa ;

}
.card-top-left{
    
    /* background-color: #8219d8ce; */
    background-color: #700ec0cc;
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    height: 300px;
    
    border-radius: 10px;
    box-shadow: 5px 5px  #615f6309;
    
}
.card-top-right{
    background-color: #221f3bbe;
    color: white;
    height: 300px;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
}
.card-bottom-left{
    background-color: #fff;
    color: black;
    border-radius: 10px;
    height: 300px;
    margin-top: 30px;
    box-shadow: 5px 5px rgba(255, 255, 255, 0.137);
    padding: 20px;
    padding-bottom: 30px;
}
.card-bottom-right{
    background-color: #221f3b;
    color: white;
    height: 300px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
}
.card-top-extreme-right{
    background-color: #fff;
    height: 600px;
}

img{
    float: left;
    border-radius: 50px;
    margin-right: 20px;
}
.heading{
    font-weight: 600;
    font-size: 20px;
}
.position{
    opacity: 50%;
}



